#ignore python compiled byte code
*.pyc

#ignore IDE garbage
Fokus/.idea

.DS_Store
scpfydp.sh
Fokus/Test.py
Fokus/Test3.py
Fokus/Test4.py
Fokus/image/READING_IMAGE
Fokus/image/DISTANCE_IMAGE
Fokus/image/tim_jan13_not_rotated
Fokus/image/march20-readLamp
rsync_pass
